@import url('https://fonts.googleapis.com/css?family=Quicksand');

html {
    scroll-behavior: smooth;    
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

body, * {
    font-family: Quicksand, Roboto, sans-serif;
}

main {
    flex: 1 0 auto;
}

.nav-wrapper ul li {
    text-align: center;
}

.scroll-down-button {
    color: #fff;    
}

    .scroll-down-button:hover {
        color: #bcaaa4;
    }

.brand-logo {
    margin-left: 15px;
}

.brand-logo:hover, .brand-logo:focus {
    text-decoration: none;
    color: #fff;
}

.brand-logo > span {
    margin-right: 15px;
}

.nav-link, .nav-link:focus {
    color: #AAA0A0;
    font-size: 14px;
    text-decoration: none;
}

    .nav-link:hover {
        color: #fbe9e7;
        background-color: #222D32;
        text-decoration: none;
    }

.background {
    background: url('https://thebarback.blob.core.windows.net/images/kaufmann-mercantile.jpg');
    position: relative;
    height: calc(100vh - 65px);
    background-size: cover;
}

.layer {
    background-color: rgba(72, 72, 84, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
}

    .layer > div.float-top {
        position: absolute;
        top: 50px;
        left: 50px;
        right: 50px;
        font-size: 24px;
    }

@media(min-width: 767px) {
    .layer > .snippet {
        width: 40%;
    }
}

    .layer > div.float-bottom {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
    }

.card {
    margin: 30px 15px;
}

.card-title {
    display: none;
}

.card:hover .card-title {
    display: inline-block;
}

.card-title.right {
    width: 100%;
    text-align: right;
}


.card-image {
    position: relative;
    height: 150px;
    cursor: pointer;
}

    .card-image.one {
        background: url('https://thebarback.blob.core.windows.net/images/david-straight.jpg');
        background-size: cover;
        background-position-y: center;
    }

    .card-image.two {
        background: url('https://thebarback.blob.core.windows.net/images/jez-timms.jpg');
        background-size: cover;
        background-position-y: center;
    }

    .card-image.three {
        background: url('https://thebarback.blob.core.windows.net/images/dan-gold.jpg');
        background-size: cover;
        background-position-y: center;
    }

.card-layer {
    background-color: #000;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -webkit-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
}

.card-image:hover > .card-layer {
    opacity: 0.7;
}

.card-layer .card-title {
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}

.card-content {
    font-size: 16px;
}

@media(min-width: 992px) {
    .card-content {
        min-height: 138px;
    }
}

.card-action {
    font-size: 16px;
}

.card .card-action > a:hover {
    color: #e65100 !important;
    text-decoration: none;
}

.recipe-snippet {
    border: 1px dashed lightgray;
    border-radius: 10px;
    padding: 15px;
    background-color: #FBF6F6;
    width: 90%;
    margin: 0 auto;
}

.recipe-snippet > ul > li {
    list-style: circle;
    margin-left: 15px;
}

ul.ingredients > li {
    list-style: disc;
    margin-left: 15px;
}

.cocktail-image {
    float: right;
    border-radius: 5%;
}